*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
	font-family: 'Cocogoose', sans-serif;
	background: url('./background.png') no-repeat;
	width: 100vw;
	height: 100vh;
}

.header {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

.smallMenu {
	display: none;
}

.bigMenu {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 60px;
}

.bigMenu ul {
	width: 100vw;
	height: 100vh;
	background: #ec5242;
	list-style: none;
	display: none;
}

.bigMenu ul a {
	padding: 20px;
	display: block;
	margin: 10px;
}

.nav-logo img{
	width: 30px;
	height: 30px;
	display: none;
}

.hamburger {
	border: 2px solid red;
	width: 30px;
	height: 30px;
	margin: 20px;
}

/* DESKTOP */

@media screen and (min-width: 768px) {
	.smallMenu {
		display: block;
		width: 100vw;
		height: 30px;
		background: grey;
	}

	.darkMenu {
		display: flex;
		justify-content: flex-end;
	}

	.bigMenu {
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-direction: row;
		background: #000;
	}

	.hamburger {
		display: none;
	}

	.bigMenu ul {
		background: #000;
		display: flex;
		justify-content: space-around;
		width: auto;
		height: 60px;
	}
	.nav-logo img {
		display: block;
		border: 2px solid green;
	}

}